@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background-color: rgb(8, 8, 8);
    color: white;
    font-family: 'Roboto', sans-serif;
}

.lists {
    margin-top: -10rem;
    padding: 0.6rem;
}

footer {
    margin: 1rem 0;
    text-align: center;
    font-size: 1.6rem;
}

.loading {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    z-index: 99;

    display: flex;
    justify-content: center;
    align-items: center;
}